<div class="home mt-8">
    <div class="container mx-auto">
        <div class=" swipperRowConainer lg:flex gap:2">
            <div class="w-full lg:w-1/2">
                <swiper-container class="cursor-move rounded-md" autoHeight="true" pagination="true"
                    pagination-dynamic-bullets="true" center-slide="true" pagination-clickable="true" init="true"
                    w-full>
                    <swiper-slide style="position: relative;">
                        <div class="w-full flex flex-col justify-start mt-4  items-center h-full absolute">
                            <h1 class="capitalize font-semibold text-white text-12xl">Apple shopping event</h1>
                            <p class="text-gray-300">shop great deals on Macbook, Ipad, Iphone and more</p>
                            <button class="btn-primary">pre-order now</button>
                        </div>
                        <img src="../../../assets/images/apple-shopping-event.jpg" alt="">

                    </swiper-slide>
                    <swiper-slide style="position: relative;">
                        <div class="w-full flex flex-col justify-start mt-4 ml-4 items-start h-full absolute">
                            <h1 class="capitalize font-semibold text-white text-12xl">The new Google Pixel 7 </h1>
                            <p class="text-gray-300">shop great deals on Macbook, Ipad, Iphone and more</p>
                            <button class="btn-primary">buy now</button>
                        </div>
                        <img src="../../../assets/images/mac2home.jpg" alt="">

                    </swiper-slide>

                    <swiper-slide style="position: relative;">
                        <div class="w-full flex flex-col justify-start mt-4 ml-4 items-start h-full absolute">
                            <h1 class="capitalize font-semibold text-white text-12xl">Discount on all smart appliances
                                up to 25% </h1>
                            <p class="text-gray-300">shop great deals on Macbook, Ipad, Iphone and more</p>
                            <button class="btn-primary">buy now</button>
                        </div>
                        <img src="../../../assets/images/home3.jpg" alt="">

                    </swiper-slide>

                </swiper-container>
            </div>

            <div class="w-full lg:w-1/2 h-full">
                <div class="flex flex-col gap-2 h-full">
                    <div
                        class="aurora rounded-md flex flex-col justify-center items-start cursor-pointer hover:scale-105 transition-transform ">
                        <div class="ml-12">
                            <h1 class="text-white">Aurora Headseat</h1>
                            <button class="btn-primary text-sm">Buy Now</button>
                        </div>
                    </div>

                    <div class="deal flex gap-4 w-full">
                        <div
                            class="playstation rounded-md flex flex-col justify-center items-start cursor-pointer hover:scale-105 transition-transform w-1/2">
                            <div class="ml-12">
                                <h1 class="text-white">New deal sense</h1>
                                <p class="text-gray-200 text-lg">For playstation 5</p>
                                <button class="btn-white text-sm">Buy Now</button>
                            </div>
                        </div>
                        <div
                            class="camera rounded-md flex flex-col justify-center items-start cursor-pointer hover:scale-105 transition-transform w-1/2">

                            <div class="ml-12">
                                <h1 class="text-white">Instants Cameras</h1>
                                <p class="text-gray-200 text-lg">Get best photos</p>
                                <button class="btn-white text-sm">Buy Now</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>