@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

@layer components {
  .btn-primary {
    @apply py-2 px-6 bg-blue-500 text-lg text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .btn-white {
    @apply py-2 px-6 bg-white text-lg text-slate-950 font-semibold rounded-lg shadow-md hover:bg-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }


}
html, body { height: 100%;  }

body {
     margin: 0;
   
     /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
    }
